<section class="ideator__block ideator__block--intro text-center">
    <div class="ideator__block-row">
        
        <div class="container">
            <div class="row clearfix">
                <div class="col-xs-12">
                    <h1>This is my first app ever and I’m super excited to become a coder</h1>
                </div>
            </div>
        </div>
        
    </div>
</section>