<section class="ideator__block ideator__block--intro">
    <div class="ideator__block-row">
        
        <div class="container">
            <div class="row clearfix">
                <div class="col-xs-12">
                    <% @ideas.each do |idea| %>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <blockquote>
                                    <p><%= idea.description %></p>
                                    <small><%= idea.author %></small>
                                </blockquote>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        
    </div>
</section>