<!-- Partial file that contains structure related to footer of the ideator application -->

<footer id="colphon" class="footer text-center" role="content-info">
    <div class="container">
        <div class="row clearf">
            <div class="col-xs-12">
                <p>© TECHRISE <%= Date.today.year %> All Rights Reserved</p>    
            </div>
        </div>
    </div>
</footer>