<!-- Partial file that contains structure related to footer of the ideator application -->

<footer id="ideator__colphon" class="footer ideator__footer text-center" role="content-info">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12">
                <p>© TECHRISE <%= Date.today.year %> All Rights Reserved</p>    
            </div>
        </div>
    </div>
</footer>