/*
** Author :: Bobaminions
** Date :: 04/12/2016
** Custom sass/scss file to store style rules for ideator application
*/

// Rails by default uses SASS as it's cascading style sheets (CSS) preprocessor
// SASS extends static/dead css with loads of features which makes it lively
// We can use variables, @mixins, function, nested structure, loops, control statements, even if we can use OOPS concept

/*
** Declaring variables to make codes reusale
*/

// Typography variables
$font-primary: 'Open Sans', sans-serif;  
$font-secondary: 'Dosis', sans-serif;

// Theme color variables
$color-black: #000000;
$color-white: #ffffff;
$color-main-blue: #337ab7;

// Box model / layouts
$height-footer: 45px;

/*
** Styling application elements
*/

/* Common style rules */

html, body {
    /* The html and body elements cannot have any padding or margin. */
    height: 100%;
    font-family: $font-primary;
}

/* Header / Navigation style rules */

.navbar-default {
    background: $color-white;
    font-family: $font-secondary;
}

.navbar-default .navbar-brand {
    color: $color-main-blue;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 2px;
}

.navbar-collapse {
    @media (min-width: 768px) {
        float: right;
    }
}

.navbar-default .navbar-brand {
    @media (min-width: 768px) {
        padding-top: 20px;
        padding-bottom: 20px;
        height: auto;
        font-family: $font-secondary;
        font-size: 40px;
        font-style: italic;
        font-weight: bold;
        line-height: 32px;
        transition: all linear 0.35s;
    }
}

.navbar-default .navbar-nav > li > a {
    @media (min-width: 768px) {
        padding-top: 26px;
        padding-bottom: 26px;
        color: $color-black;
        font-size: 16px;
        font-weight: 600;
        transition: all linear 0.35s;
        
        &:hover {
            color: $color-main-blue;
        }
    }
}

/* Footer style rules */

/* Wrapper for page content to push down footer */
#ideator__wrap {
    position: relative;
    /* Negative indent footer by its height */
    margin: 0 auto (-$height-footer);
    /* Pad bottom by footer height */
    padding: 0 0 $height-footer;
    min-height: 100%;
    height: auto;
}

.footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: $height-footer;
}